.navbar {
    /* padding: 10px 0; */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999;
    background-color: white;
    box-shadow: 0 5px 15px 2px rgb(0 0 0 / 10%);
    min-height: 10vh;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.center {
    justify-content: space-between;
    align-items: center;
}



.NavLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.NavLinks a {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    background-color: white;
    cursor: pointer;
    padding: 10px 0;
    transition: all 0.3s;
    position: relative;
}

.NavLinks div {
    color: black;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 0;
    transition: all 0.3s;


}

.NavLinks a:hover::after,
.NavLinks div:hover::after {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.NavLinks a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--main_color);
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
}

/* .NavLinks h5 {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
    position: relative;
} */
.NavLinks a svg {
    margin-right: 5px;
}

/* .NavLinks h5:hover .NestedLinks{
    display:  block;
} */

/* .NestedLinks {
    position: absolute;
    top:100%;
    left: 0;
    background-color: white;
    list-style: none;
    display: none;

    min-width: 300px;

    max-height: 300px;
    overflow-y: scroll;

    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: var(--box_shadow);
}

.NestedLinks li {
    padding: 10px 5px ;
}
.NestedLinks li:not(:last-of-type) {
    border-bottom: 1px solid #999;

}
.NestedLinks li a {
    width: 100%;
    padding: 0;
} */
.iconsSec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsSec a {
    display: block;
    /* color: black; */
    padding: 10px;

    font-size: clamp(18px, 4vw, 22px);
}

.iconsSec a:nth-of-type(1) {
    color: #4267B2;
}

/* #0A66C2 */
.iconsSec a:nth-of-type(2) {
    color: #0077B5;
}

.iconsSec a:nth-of-type(3) {
    color: #c4302b;
}

.iconsSec a:nth-of-type(4) {
    color: #E4405F;

}

.iconsSec a:nth-of-type(5) {
    color: #1DA1F2;

}

/*  #00acee */

/* .iconsSec  a  */
.question {
    display: flex;
    justify-content: center;
    align-items: center;

}

.question span {
    font-size: 18px;
}

.question p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}

.question svg {
    font-size: 30px;
    color: var(--main_color);
}

/*  MobNavLinks */
.MobNavLinks {
    text-align: center;

}

.MobNavLinks a {
    text-decoration: none;
    /* color: black; */
    padding: 10px;
    display: block;

}

.MobNavLinks a:not(:last-of-type) {
    border-bottom: 1px solid #999;

}

.menu_Btn {
    border: none;
    background-color: transparent;
    font-size: 30px;
}

.MobNavLinks ul {
    list-style: none;
    padding: 0;
}

.MobNavLinks ul a {
    color: black;
}

.mobUlLinks li:not(:last-of-type) a {
    border-bottom: 1px solid #999;

}

.active {
    color: var(--main_color);
    font-weight: bold;
}

.link {
    color: black;
}

/* .image_container {
    width: 200px;
} */
.image_container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
}